/* Visualização Geral*/


/*Font Roboto USADA SOMENTE EM TÍTULOS*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Font Open Sans USADA --EXCETO-- EM TÍTULOS*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/*TEXTO*/

h1 {
    color: #fb6e52;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

p,
li {
    color: #a4a4a4;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

#grey {
    color: #a4a4a4;
    font-family: 'Open Sans', sans-serif;
}


/* tamanho usado para parágrafos baseados em início PAGE ABOUT US*/

#small {
    color: #a4a4a4;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    font-size: 15px;
    margin-left: 10px;
}


/*CABEÇALHO*/


/*Fonte para texto acima do About Us e Latest*/

.font-red-check {
    font-size: 25px;
    color: #fb6e52;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


/*Fonte usada titulos ABOUT US e LATEST*/

.main-title-about {
    color: black;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}


/* Barras cabeçalho usadas ABOUT US e LATEST**/

.main-title-about::after {
    content: "";
    border-top: 2px solid #fb6e52;
    width: 10%;
    position: absolute;
    top: 60px;
    left: 45%;
}

hr {
    border-top: 2px solid #fb6e52;
    width: 5%;
    position: absolute;
    top: 50px;
    left: 47.5%;
}

.font-red-clients {
    font-size: 40px;
    color: #fb6e52;
}

.font-aspas {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.font-aspas i {
    color: #a4a4a4;
}


/*classe container zerando as laterais*/

.container {
    padding: 25px 0 0 8px;
}


/*ESTRUTURA LISTA ENUMERAÇÃO POR BOLAS POR QUE NÓS? - PAGE ABOUT US*/

.special-list li .number {
    display: inline-block;
    font-size: 15px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
    padding-top: 3px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 500px;
    background: #f3f3f3;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #f3f3f3;
}

.special-list li {
    list-style: none;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.special-list p {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}


/*ESTRUTURA LISTA PLANOS IDEIAS - PAGE ABOUT US */

#about-list {
    font-size: 15px;
    list-style: none;
    padding-left: 0px;
}

#about-list li {
    line-height: 29px;
}

#about-list i {
    color: #fb6e52;
    margin-right: 8px;
}


/*ESPAÇAMENTO ENTRE LINHAS UL,OL */

ul,
ol {
    line-height: 1.4;
    padding: 0;
    margin-left: 10px;
}


/*COLUNAS SECTION LATEST*/


/* Div section*/

div.section {
    min-height: 350px;
}


/*cores*/

.borda {
    background-color: grey;
    border: 1px solid rgb(73, 72, 72);
}

.borda-1 {
    background-color: rgb(116, 111, 111);
    border: 1px solid rgb(73, 72, 72);
}

.borda-2 {
    background-color: rgb(163, 158, 158);
    border: 1px solid rgb(73, 72, 72);
}

.borda-3 {
    background-color: rgb(187, 180, 180);
    border: 1px solid rgb(73, 72, 72);
}

.borda-4 {
    background-color: rgb(209, 202, 202);
    border: 1px solid rgb(73, 72, 72);
}

.borda-red:hover {
    background-color: #fb6e52;
    border: 1px solid rgb(73, 72, 72);
}


/*HOVER PARA COLUNA RED APARECER - PAGE LATEST*/

.desaparece-div {
    list-style: none;
}

.aparece-div {
    position: relative;
    /* Para que a imagem não saia fora do link */
    display: block;
    cursor: crosshair;
}

.aparece-div span {
    display: none;
    /* Aqui você define que todo SPAN que estiver dentro da tag estará invisível */
}

.aparece-div:hover span {
    display: block;
    background: #fb6e52;
    margin: 0px -15px 0px -15px;
    /* preenchendo toda a row para o span*/
    text-align: center;
    font-size: 15px;
    color: white;
    /* Aqui você diz que ao passar o mouse sobre o link, colocar um display no span dentro desse link */
}


/*CIRCULO PERFIL NOS CARDS - PAGE LATEST*/

#circulo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    margin-top: 0;
    margin-right: 0px;
    margin-bottom: -30px;
    margin-left: 170px;
    background-color: rgb(116, 111, 111);
}

@media (min-width: 1px) and (max-width: 576px) {
    .container {
        padding: 0 20px;
    }
    blockquote {
        width: 90%;
        .medium;
        padding: 20px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {}

@media (min-width: 769px) and (max-width: 992px) {}

@media (min-width: 993px) {}